# Database Runtime Files (Ignore these)
database/data/metrics.*
database/data/diagnostic.data/
database/data/journal/
database/data/_tmp/
database/data/mongod.lock
database/data/WiredTiger.lock

*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.ipynb_checkpoints/

# Node/Web
node_modules/
dist/
.cache/
.npm/

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db